
@{
    ViewBag.Title = "VerifyAccount";
}

<div class="inner_page_about">
</div>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>Success!</strong>Your account has been activated Successfully. Click Here to @Html.ActionLink("Login", "Login", "Account")
    </div>
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ViewBag.Message
    </div>
}