@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Convey a Transportation Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Convey a Transportation Category Bootstrap Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" media="all" />
    @*<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">*@
    <!--//booststrap end-->
    <!--stylesheets-->
    <link href="~/Content/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <!-- font-awesome icons -->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet">
    <!-- partner js-->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>
<body>
    <!--navbar-->
    <!--headder-->
    <!--//headder-->
    <!--//navbar-->
    <!-- banner -->
    <div class="inner_page_about">
    </div>
    <!--//banner -->
    <!--About-->
    <div class="about" id="about">
        <div class="container">
            <h3 class="title">About us</h3>
            <div class="about-inner-grids">
                <div class="col-md-5 col-sm-6 about-top-inner">
                    <div class="about-inner">
                        <ul>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Vivamus elementum semper </p>
                            </li>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Bibendum sodales, auguesze </p>
                            </li>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Vivamus elementum semper </p>
                            </li>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Vivamus elementum semper </p>
                            </li>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Vivamus elementum semper </p>
                            </li>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Bibendum sodales, auguezse </p>
                            </li>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Vivamus elementum semper </p>
                            </li>
                            <li>
                                <span class="fa fa-arrow-right dog-arrow" aria-hidden="true"></span>
                                <p>Vivamus elementum semper </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-7 col-sm-6 pope about-inner-img">
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--//About-->
    <!-- counter-->
    <div class="static" id="rate">
        <div class="container">
            <div class="stats-info agileits w3layouts">
                <div class="col-md-3 col-sm-3 col-xs-3 agileits w3layouts stats-grid stats-grid-1">
                    <div class="ser-icone">
                        <span class="fa fa-plane font" aria-hidden="true"></span>
                    </div>
                    <div class=" agileits-w3layouts counter">3500</div>
                    <div class="stat-info-w3ls">
                        <h4 class="agileits w3layouts">Jets</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 agileits w3layouts stats-grid stats-grid-2">
                    <div class="ser-icone">
                        <span class="fa fa-user font" aria-hidden="true"></span>
                    </div>
                    <div class=" agileits-w3layouts counter">650</div>
                    <div class="stat-info-w3ls">
                        <h4 class="agileits w3layouts ">Pilots</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 stats-grid agileits w3layouts stats-grid-3">
                    <div class="ser-icone">
                        <span class="fa fa-cubes font" aria-hidden="true"></span>
                    </div>
                    <div class=" agileits-w3layouts counter">1021</div>
                    <div class="stat-info-w3ls">
                        <h4 class="agileits w3layouts ">Packing</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 stats-grid agileits w3layouts stats-grid-4">
                    <div class="ser-icone">
                        <span class="fa fa-truck font" aria-hidden="true"></span>
                    </div>
                    <div class=" agileits-w3layouts counter">1010</div>
                    <div class="stat-info-w3ls">
                        <h4 class="agileits w3layouts">Logistics</h4>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!-- //counter-->
    <!--testimonials-->
    <!--//footer -->
    <!--js working-->
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    @*<script src='js/jquery-2.2.3.min.js'></script>*@
    <!-- //js  working-->
    <!-- OnScroll-Number-Increase-JavaScript -->
    <script src="~/Scripts/jquery.waypoints.min.js"></script>
    <script src="~/Scripts/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //OnScroll-Number-Increase-JavaScript -->
    <!-- start-smoth-scrolling -->
    <script src="~/Scripts/move-top.js"></script>
    <script src="~/Scripts/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- for-bottom-to-top smooth scrolling -->
    <script>
        $(document).ready(function () {
            /*
                  var defaults = {
                  containerID: 'toTop', // fading element id
                  containerHoverID: 'toTopHover', // fading element hover id
                  scrollSpeed: 1200,
                  easingType: 'linear'
                  };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //for-bottom-to-top smooth scrolling -->
    <!-- bootstrap-->
    <script src="~/Scripts/bootstrap.js"></script>
    <!--// bootstrap-->
</body>
</html>