@{
    ViewBag.Title = "Contact";
}

<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Convey a Transportation Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
    <!--meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Convey a Transportation Category Bootstrap Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <!--//meta tags ends here-->
    <!--booststrap-->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!--//booststrap end-->
    <!--stylesheets-->
    <link href="css/style.css" rel='stylesheet' type='text/css' media="all">
    <!--//stylesheets-->
    <!-- font-awesome icons -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <!-- partner js-->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>
<body>
    <div class="inner_page_about">
    </div>
    <div class="contact" id="contact">
        <div class="container" style="padding-left:30px; padding-right:30px;">
            <h3 class="title">Contact</h3>
            <div class="col-md-6 contact-us">
                <form action="#" method="post">
                    <div class="styled-input">
                        <input type="text" name="Name" placeholder="Name" required="">
                    </div>
                    <div class="styled-input">
                        <input type="email" name="Email" placeholder="Email" required="">
                    </div>
                    <div class="styled-input">
                        <input type="text" name="phone" placeholder="phone" required="">
                    </div>
                    <div class="styled-input">
                        <textarea name="Message" placeholder="Message" required=""></textarea>
                    </div>
                    <div>
                        <div class="click">
                            <input type="submit" value="SEND">
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6 contactright">
                <h3>Contact Address</h3>
                <div class="footer_grid_left">
                    <div class="contact_footer_grid_left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <p>ALN-AVIATION OFFICE, <span>Islamabad.</span></p>
                </div>
                <div class="footer_grid_left">
                    <div class="contact_footer_grid_left">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p>+(92) 340608720 <span>+(92) 3109106095</span></p>
                </div>
                <div class="footer_grid_left">
                    <div class="contact_footer_grid_left">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <p>
                        <a href="mailto:info@example.com">alnaviation@gmail.com</a>
                        <span><a href="mailto:info@example.com">info@gmail.com</a></span>
                    </p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="address_mail_footer_grids">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3539.812628729253!2d153.014155!3d-27.4750921!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b915a0835840a2f%3A0xdd5e3f5c208dc0e1!2sMelbourne+St%2C+South+Brisbane+QLD+4101%2C+Australia!5e0!3m2!1sen!2sin!4v1492257477691"></iframe>
    </div>
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/move-top.js"></script>
    <script src="~/Scripts/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- for-bottom-to-top smooth scrolling -->
    <script>
        $(document).ready(function () {
            /*
                  var defaults = {
                  containerID: 'toTop', // fading element id
                  containerHoverID: 'toTopHover', // fading element hover id
                  scrollSpeed: 1200,
                  easingType: 'linear'
                  };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //for-bottom-to-top smooth scrolling -->
    <!-- bootstrap-->
    <script src="~/Scripts/bootstrap.js"></script>
    <!--// bootstrap-->
</body>
</html>